:root {
  --links-font-size: 5vh;
  --links-hover-font-size: 8vh;
  --shadow-color: rgba(154, 152, 155, 0.638);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  position: relative;
  color: white;
  text-shadow: 5px 5px 10px var(--shadow-color);
  width: 100%;
  height: 95vh;
  background-image: url("../img/background.png");
  background-color: black;
  background-size: cover;
}

/* Style navigation links */
.navigation {
  list-style: none;
  text-align: left;
  font-weight: bold;
  font-size: var(--links-font-size);
  text-transform: lowercase;
  position: absolute;
}

.navigation a {
  color: white;
  text-decoration: none;
  margin: 10px 20px;
}

.navigation a:hover {
  text-transform: uppercase;
  font-size: var(--links-hover-font-size);
  transition: all 0.08s;
}

#last-name::before {
  content: "\00a0";
}

.name:hover {
  text-transform: lowercase;
  color: purple;
}

.description {
  width: 550px;
}

.personal-details-container {
  position: relative;
  padding-top: 230px;
  display: inline-block;
}

.personal-details {
  position: absolute;
  word-spacing: 5px;
  line-height: 30px;
  text-indent: 1vw;
}

#contact::before {
  text-decoration: none;
  font-size: 0.5em;
  content: "email";
}

#contact:hover::before {
  color: purple;
  text-decoration: underline;
  content: "jbuck0403@gmail.com";
  text-shadow: 2px 2px 4px var(--shadow-color);
}

.nested-list {
  list-style-position: inside;
}

.nested-nested-list {
  list-style-position: inside;
  padding-left: 30px;
}

.container {
  position: absolute;
  top: 10%;
  right: 10%;
}

input {
  width: 285px;
  background-color: black;
  color: white;
}

.logo {
  position: absolute;
  width: 80px;
  height: auto;
  z-index: -1;
}

.header {
  font-size: 3em;
  text-transform: uppercase;
  position: absolute;
  display: flex;
  text-decoration: none;
  cursor: default;
  top: 5%;
  left: 42%;
}
